# Redis Configuration
REDIS_URL=redis://localhost:6379

# PostgreSQL Configuration
POSTGRES_URL=jdbc:postgresql://localhost:5432/whosbuying
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

# Port Configurations
BACKEND_PORT=8080
GATEWAY_PORT=8081

# Queue Configurations
QUEUE_MAX_ACTIVE_USERS=500
QUEUE_ALLOW_PERIOD_MS=5000

# Redis Key Prefix Configurations
REDIS_QUEUE_KEY_PREFIX=item:queue:
REDIS_ACTIVE_KEY_PREFIX=item:active-tokens:
REDIS_STATUS_KEY_PREFIX=item:token:status:

# Redis TTL Configurations (in seconds)
REDIS_QUEUE_TTL_SEC=86400
REDIS_STATUS_TTL_SEC=900
