# Redis Configuration
REDIS_URL=redis://localhost:6379

# PostgreSQL Configuration
POSTGRES_URL=jdbc:postgresql://localhost:5432/whosbuying
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

# Port Configurations
BACKEND_PORT=8080
GATEWAY_PORT=8081
