# Go binaries and builds
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
/gateway/gateway

# Test binaries and coverage
*.test
*.out

# Go workspaces
go.work
go.work.sum

# Environments
.env
.env.*

# IDEs and Editors (JetBrains/IntelliJ, VS Code)
.idea/
*.iml
*.iws
.vscode/
*.code-workspace

# Operating System Files
.DS_Store
Thumbs.db
